h1{  color: rgb(92, 49, 133);
       text-align: center;}

p{   color: rgb(15, 60, 142);
       font-size: 12px;
        line-height: 1.6;}
button{ background-color: rgb(5, 96, 96);        
            color: rgb(27, 78, 79); 
             padding: 12px;
            border: none;
            border-radius: 20px;
            font-size: 16px;}



