
button { background-color: rgb(51, 90, 175);        
            color: black; 
             padding: 12px;
            border: none;
            border-radius: 20px;
            font-size: 16px;}

img{    width:300px ;
         border:12px solid black ; 
         border-radius: 10px;   }




         